.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card{
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 15rem;
}

