.cards{
    margin: 0 auto;
    gap: 1rem;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card{
    background-color: white;
    color: black;
    padding: 1rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.grid-content{
    height: 100vh;
    min-width: 1000px;
}
