.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    overflow: hidden;
    background-color: black;
    height: 70vh;
    width: 100%;
}

.content-child {
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    object-position: bottom;
}

.content-child img{

    height: 100%;
    width: 100%;
    object-fit: fill;
}